<div data-role="page" id="artworks_by_cat">
  
  <div data-role="header" data-theme="b" data-position="inline">
    <h1><%=@current_cat%></h1>
      <a href="#home" data-icon="home" class="ui-btn-right" data-iconpos="notext">Home</a>
  </div><!-- /header -->
  
  <div data-role="content">    
    <ul data-role="listview" data-theme"b" data-filter="true">
      <% @artworks_by_cat.each do |artwork| %>
        <li><%= link_to artwork.title, artwork %></li>
      <% end %>
    </ul>        
  <div><!-- /content -->    
    
</div><!-- /page -->