<div data-role="header">
	<h1>Home</h1>
</div>

<div data-role="content">
	<p>Welcome to the Tufts Art Gallery mobile web-app</p>
</div>

<div data-role="footer">
	<button>Home</button> <button>Art</button> <button> Tours </button>
</div>
