<!DOCTYPE html>
<html>

  <head>
 	
    <title>Artgallery</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
	<script src="https://www.google.com/jsapi?key=ABQIAAAA1GjKZpXIjLajBR1apIeEZhQDNUKtWYO0YNsBQklWEm0Tg_LWZBSKk9F7xOfTZS1E82Te3eHq0zKbsg" type="text/javascript"></script>        
    <script type="text/javascript">
		google.load("maps", "3", {'other_params':'sensor=true'});
		google.load("jquery", "1.5");
	</script>
	
	<script type="text/javascript">
		// Demonstration purpose only...
		$(document).bind("mobileinit", function () {
			$.mobile.ajaxEnabled  = true;
		});
	</script>

    <script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js" type="text/javascript"></script>
    <%= javascript_include_tag "jquery.ui.map.min.js" %>
    <%= stylesheet_link_tag :all %> 
    <%= csrf_meta_tag %>
  </head>
  
  <body>       
     <%= yield %>
     	
 	<% if request.user_agent.include?("iPhone") %>
	<script>
	window.scrollTo(0,1);
	</script>
	<% end %>
  </body>
  
</html>
